* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7fc;
}

.register-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 380px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.12);
}

.register-card h1 {
  text-align: center;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* INPUTS */
label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 14px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  margin-top: 6px;
}

.input-box span {
  margin-right: 8px;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.eye {
  cursor: pointer;
}

/* UPLOAD */
.upload-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.avatar {
  width: 46px;
  height: 46px;
  background: #eef2ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn {
  background: #f1f5f9;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.upload-box small {
  font-size: 12px;
  color: #777;
}

/* ROLE */
.role-box {
  display: flex;
  gap: 14px;
  margin-top: 12px;
}

.role-card {
  flex: 1;
  border: 2px solid #e5e7eb;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.role-card span {
  font-size: 22px;
}

.role-card p {
  font-size: 12px;
  color: #666;
}

.role-card.active {
  border-color: #4f46e5;
  background: #eef2ff;
}

/* BUTTON */
.create-btn {
  width: 100%;
  margin-top: 22px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  cursor: pointer;
  transition: 0.3s;
}

.create-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(147,51,234,0.35);
}

/* BOTTOM */
.bottom-text {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.bottom-text a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}
